// header ===================

header{
	position: relative;
	width: 100%;
	top: 0;
	height: 90px;
	z-index: 100;
}

.header--content{
	position: relative;
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
}

.header--logo{
	position: absolute;
	width: 150px;
	margin-top: 33px;
	padding-left: 30px;
}

// right menu

.header--menu{
	position: absolute;
	right: 40px;
	margin-top: 43px;
	li{
		float: left;
		margin-left: 25px;
		list-style: none;
	}

}