// body ===================

body, html{
	width: 100%;
	min-height: 100vh;
	background-color: black;
	color: white;
	font-family: 'a', -apple-system, Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
}

// global rules ==============
.error {
	padding: 40px;
}
