// colours ==============

// blacks
$black: #000000;

//whites
$white: #ffffff;

//things
$text: #eaeaea;


//width ======

$max-width: 1440px;


// mobile

$phone: "only screen and (max-width: 400px)";
$phonel: "only screen and (max-width: 580px)";
$tabletp: "only screen and (max-width: 768px)";
$tabletl: "only screen and (max-width: 1024px)";
$laptop: "only screen and (max-width: 1500px)";
$desktop: "only screen and (max-width: 1640px)";



/*
@media #{$phone} {
	
}
*/

// things

.absolute-center{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

.absolute-h-center{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.absolute-v-center{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.no-display{
	display: none;
}


// stupid chrome being stupid

.lag-fix{
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}


@keyframes fade-ani {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  animation-name: fade-ani;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: once;
  animation-fill-mode: backwards;
}

.fade-in-1 {
  animation-name: fade-ani;
	animation-duration: 1s;
	animation-delay: 2s;
  animation-timing-function: ease;
  animation-iteration-count: once;
  animation-fill-mode: backwards;
}


