// colours ==============

// blacks
$black: #000000;

//whites
$white: #ffffff;

// mobile

$phone: "only screen and (max-width: 400px)";
$phonel: "only screen and (max-width: 580px)";
$tabletp: "only screen and (max-width: 768px)";
$tabletl: "only screen and (max-width: 1024px)";
$laptop: "only screen and (max-width: 1500px)";
$desktop: "only screen and (max-width: 1640px)";



/*
@media #{$phone} {
	
}
*/


@keyframes fade-ani {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  animation-name: fade-ani;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: once;
  animation-fill-mode: backwards;
}

.fade-in-1 {
  animation-name: fade-ani;
	animation-duration: 1s;
	animation-delay: 2s;
  animation-timing-function: ease;
  animation-iteration-count: once;
  animation-fill-mode: backwards;
}


